# Server Configuration
PORT=8000

# Database Configuration
# Default for local Docker setup: mongodb://localhost:27019/location_tracker
MONGO_URI=mongodb://localhost:27019/location_tracker

# Kafka Configuration
# Default for local Docker setup: localhost:9092
KAFKA_BROKER=localhost:9092
KAFKA_USERNAME=
KAFKA_PASSWORD=
KAFKA_MECHANISM=scram-sha-256

# OIDC Configuration
# Replace these with your OIDC provider details
OIDC_CLIENT_ID=your_client_id_here
OIDC_CLIENT_SECRET=your_client_secret_here
OIDC_AUTH_ENDPOINT=https://your-oidc-provider.com/o/authorize
OIDC_TOKEN_ENDPOINT=https://your-oidc-provider.com/o/token
OIDC_USERINFO_ENDPOINT=https://your-oidc-provider.com/o/userinfo
OIDC_REDIRECT_URI=http://localhost:8000/
